@import 'https://fonts.googleapis.com/css?family=Noto+Sans'

// Font variables
$main-font: 'Noto Sans', sans-serif

// Color variables
$darkblue: rgba(40, 75, 99, 0.8)
$fadedwhite: rgba(255,255,255,.7)
$accentcolor: #58a4b0
$fbcolor: #3A5A98
$twcolor: #55ACEE





