main > div {
	box-shadow: 0px 0px 15px #0004;
}

.form-check {
	padding-left: 2rem;

}

.center_div{
    width: 220%; /* value of your choice which suits your alignment */
}

.superior-nav{
   width: 130%;
	   padding-left: 10px;
   padding-bottom: 20px;
}

@media(max-width: 768px){
	.center_div {	
		width: 110%;
	}
}

