main > div {
	box-shadow: 0px 0px 15px #0004;
}

.form-check {
	padding-left: 2rem;

}

.center_div{
}

input {
	width: 100%;
}

.ploc{
	width: 100%;
	padding:10px;
}
.superior-nav{
   margin: auto;
   padding:10px;
}

.btn-group {
	margin:	auto;
}

@media(max-width: 768px){
	.center_div {	
		width: 110%;
	}
}

