:root {
	--bg-dark: #1A2F3A;

	--logo-height: 100px;
	--header-height: 100px;
	--menu-top-height: 70px;
	--aside-width: 200px;
	--footer-height: 40px;
	height: 100%;
}


html , body{
	
	background: url(../../src/assets/imgs/tikiri-11234.jpg) no-repeat center center fixed;
	/*background: url(/react/portal/src/assets/imgs/tikiri-12.jpg) no-repeat center center fixed;*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	 background-size: cover;
	 height:100%;
}

* {
	/*box-sizing: border-box;*/
	
}

/* Layout em grid */

.app {
	margin: auto;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr;
	grid-template-rows: 150px auto;
	grid-template-areas:
		" logo "
		" content ";
	height:100%;
}


aside.logo {
	grid-area: logo;
	height:200px;
}


main.content {
	grid-area: content;
	
}



